<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel = "tests">
<listeners>
<listener class-name="Academy.Listeners"/>
</listeners>

	<test name="home">
		<classes>
			<class name="Academy.homePage" />
		</classes>
	</test>

	<test name="validating">
		<classes>
			<class name="Academy.validation" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
